h1 {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    background-color: black;
    color: whitesmoke;
    
}
h2,h3,h4,h5 {
    text-align: center;
    font-size: 40px;
    margin-block-start: 0;
    margin-bottom: 7px;
}
h3, h5 {
    background: black;
    color: white;
}
h2::first-letter{
    font-size: 60px;
    font-weight: bold;
}
h3::first-letter{
    font-size: 60px;
    font-weight: bold;
}
h4::first-letter{
    font-size: 60px;
    font-weight: bold;
}
h5::first-letter{
    font-size: 60px;
    font-weight: bold;
}